{% extends 'courses/base.html' %}

{% block content %}
    <h1>About</h1>
    <ul class="list-group">
        <li class="list-group-item list-group-item-light">
            <p class='text-muted'>
                This website aims to make it easier to calculate golf scores by allowing users to add a course to the database and then using it to calculate their scores. To caalculate their scores a player needs to input their handicap, scores and the course at which the round was played. To add a course into the database a player needs to enter the name, location, stroke index and par of the course.
            <p>Currently available formats:</p>
            <p>1. Gross Score</p>

            <p>2. Nett Score</p>

            <p>3. Stableford Score</p>

            <p>4. Stableford Points Score</p>

            <p>5. Quota Score</p>

            <p>For information on these formats please see: http://golfcollege.edu/popular-golf-tournament-formats/</p>


        </li>
    </ul>
{% endblock content %}}

